

  <div class="col-lg-12" style="position: absolute; width: 85%; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <section class="card">

        <header class="card-header">
           <p *ngIf="!idUpdate"> Adicionar Jobs </p>
           <p *ngIf="idUpdate"> Editar job </p>
        </header>
        <div class="card-body">
            <div class=" form">


                     <form [formGroup]="userForm">


                    <div class="container-grupo" style="display: flex;">
                          <div class="form-group m-3">
                              <label for="cname" class="control-label col-lg-2" style="display: flex; max-width: 321px !important;">Nome</label>
                              <div class="col-lg-10">

                                  <input   class=" form-control" formControlName="nome" minlength="2" type="text" required style="width: 200px;" />

                              </div>
                          </div>
                          <div class="form-group m-3">
                              <label for="cname" class="control-label col-lg-2" style="display: flex; max-width: 321px !important;">Usuário</label>
                              <div class="col-lg-10">

                                  <input   class=" form-control" formControlName="usuario" minlength="2" type="email" required  style="width: 200px;"/>

                              </div>
                          </div>
                    </div>

                    <div class="container-grupo" style="display: flex;">


                              <div class="form-group m-3">
                                  <label style="display: flex; max-width: 321px !important;" for="cname" class="control-label col-lg-2">Status</label>
                                  <div class="col-lg-10">
                                    <select formControlName="status" class="form-control" style="width: 200px;" >
                                      <option value="">selecione</option>
                                      <option  value="ativo">Ativo</option>
                                      <option value="inativo">Inativo</option>
                                    </select>


                                  </div>
                              </div>
                              <div class="form-group m-3">
                                  <label style="display: flex; max-width: 321px !important;" for="cemail" class="control-label col-lg-2">Recorrência</label>
                                  <div class="col-lg-10">
                                    <select formControlName="recorrencia" class="form-control"  (click)="horario()" style="width: 200px;">
                                      <option value="">selecione</option>
                                      <option  value="intervalo">Intervalo</option>
                                      <option value="horário fixo">Horário fixo</option>
                                    </select>
                                  </div>
                              </div>

                    </div>

                    <div class="container-grupo" style="display: flex;">
                              <div class="form-group m-3">
                                  <label style="display: flex; max-width: 321px !important;" for="cname" class="control-label col-lg-2">Valor</label>
                                  <div class="col-lg-10">

                                      <input  class=" form-control" formControlName="valor" minlength="2" type="text" mask="separator.2" thousandSeparator="." style="width: 200px;" />

                                  </div>
                              </div>
                              <div class="form-group m-3">
                                  <label style="display: flex; max-width: 321px !important;" for="cemail" *ngIf="horarios == true" class="control-label col-lg-2">Horário</label>
                                  <div class="col-lg-10">
                                  <input type="time" class="form-control" formControlName="caso" style="width: 200px;" *ngIf="horarios == true">

                                  </div>
                                  <label style="display: flex; max-width: 321px !important;" for="cemail" *ngIf="intervalos == true" class="control-label col-lg-2">Intervalo</label>
                                  <div class="col-lg-10">
                                  <input type="text" class="form-control" formControlName="caso" style="width: 200px;"  *ngIf="intervalos == true">

                                  </div>
                              </div>

                    </div>


                    <div class="form-group">

                      <div  style="width: 100%;height: 68px;display: flex; justify-content: end; align-items: center; padding: 15px;">
                          <button class="btn btn-default m-2" type="button"><a routerLink="/cms/jobs">Cancelar</a></button>
                          <button class="btn btn-primary mt-2 mb-2 " *ngIf="!idUpdate" (click)="userSubmit()" >Salvar</button>
                          <button class="btn btn-primary mt-2 mb-2 " *ngIf="idUpdate" (click)="userSubmitUpdate()" >Update</button>

                    </div>
                </div>
                </form>


            </div>
  </div>
  </section>
</div>
