*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #eee
}

.nav-link {
  border-radius: 0px !important;
  transition: all 0.5s;
  width: 100px;
  display: flex;
  flex-direction: column;


}

.nav-link small {
  font-size: 12px
}

.nav-link:hover {
  background-color: #52525240 !important
}

.nav-link .fa {
  transition: all 1s;
  font-size: 20px
}

.nav-link:hover .fa {
  transform: rotate(360deg)
}

@media (max-width: 700px) {
 
  .hamburguer{
    position: fixed;
    z-index: 99999;
  }

  .hamburguerX{
    z-index: 999999999;
  }

  .container-modais{
    width: 100% !important;
  }

  .form{
    width: 100% !important;
  }
}








